# IBM Developer Skills Network

## Access Db2 on cloud using Python

In [2]:
import ibm_db
import pandas as pd

# Get the user id, passwd for IBM Db2 instance on cloud

In [3]:
path = 'G:\Google Drive\My learning courses\IBM Db2 connection.csv'
df = pd.read_csv(path)

In [4]:
dsn_hostname = df.value[0]
dsn_uid = df.value[1]
dsn_pwd = df.value[2]

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

# Create the DB2 database connection

In [5]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [6]:
# Create database connection
try:
    conn = ibm_db.connect(dsn, '', '')
    print('Connected to database!')
except:
    print ('Unable to connect: ', ibm_db.conn_errormsg())

Connected to database!

# Create a table in the database

In [10]:
dropQuery = 'drop table INSTRUCTOR'

# Delete the table if it was already created before
try:
    dropStmt = ibm_db.exec_immediate(conn, dropQuery)
    print('Success drop table INSTRUCTOR')
except:
    print('Table INSTRUCTOR not existed!')

# Create the INSTRUCTOR table
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

createStmt = ibm_db.exec_immediate(conn, createQuery)
print('Table INSTRUCTOR Created!')

Success drop table INSTRUCTOR
Table INSTRUCTOR Created!

In [11]:
# Insert data into table
insertQuery = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [12]:
# Insert the next 2 data rows
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

#execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

# Query data in the table

In [13]:
selectQuery = 'select * from INSTRUCTOR'
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
ibm_db.fetch_both(selectStmt) # 1st row

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [14]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

## Update statement

In [15]:
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

# Retrieve data into Pandas

In [17]:
import ibm_db_dbi

pconn = ibm_db_dbi.Connection(conn)

In [18]:
selectQuery = 'select * from INSTRUCTOR'

# to pandas frame
pdf = pd.read_sql(selectQuery, pconn)

pdf.LNAME[0]

'Ahuja'

In [19]:
pdf

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [20]:
pdf.shape

(3, 5)

# Close the connection

In [21]:
ibm_db.close(conn)

True